.categories_container{
    background-color: #FFF;
    margin-top : 2em;
    margin-left: 5em;
}
.categories_container a{
    text-decoration: none;
    text-align: left;
font: normal normal normal 16px/20px PT Sans;
letter-spacing: 0px;
color: #6F6C6C;
opacity: 1;
}

.link_container{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%; 
   
 
}
