$green:#7DAF3F;
$brown:#4D302B;
$gray:#B7B7B7;
/*.navBar{
    
    //background-image: url("./img/644f2a92d0893d909051469bf4dd3f29.png");
   min-height: 300px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   
}*/
.navbar_container{
  position: absolute;
  margin-left: 100px;
  margin-right: 40px;
    width:90%;

}
.topnav{
  display:grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-gap: 0px;
    border-bottom: 1px solid rgb(231, 228, 228);
    background-color: white;
}
.topnav > div{

    text-align: center;
    //border-top: 1px solid  rgb(231, 228, 228);
    border-right: 1px solid rgb(231, 228, 228);
}
.nav1{
    float:left;
    
}
.nav1:hover, .realisation:hover{
  background-color:$green;
}




/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-image: url("./accueil.png");
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {background-color:$brown}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: block;
  width: 100%;
}
.dropdown_content a:last-child {
  background-color: $green;
}

.contact {
  position: relative;
  display: block;
  
}
.contact:hover .contact_card{
  display: block;
  width: 100%;
}
.contact_card{
  display: none;
  position: absolute;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.img{
  background-image:url("./accueil@2x.png");
  min-height: 150px;
 //background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;

 
}
.wrapper{
  background-color: #fff;
  
}
.wrapper p{
  margin-left: auto;
    margin-right: auto;
    width: 20em;
    font-size:10px;
}
.contact_card input[type=text] {
 //  width: 100%;
  padding: 12px 20px;
  
  display: block;
  border: none;
  border-bottom: 2px solid rgb(243, 238, 238);
  
  box-sizing: border-box;
  margin-left: auto;
    margin-right: auto;
    width: 20em
}
.contact_card textarea{
  display: block;
  margin-left: auto;
    margin-right: auto;
    width: 20em
  
}
.contact_card input[type=submit]{
  width: 100%;
  background-color: $green ;
  color:white;
  padding: 14px 20px;
  border: none;
}
  